# FDU pin list


 NET "prime_led<0>"  LOC = "K12"  ;
 NET "prime_led<1>"  LOC = "P14"  ;
 NET "health<0>"  LOC = "L12"  ;
 NET "health<1>"  LOC = "N14"  ;
 NET "state_led<0>"  LOC = "P13"  ;
 NET "state_led<1>"  LOC = "N12"  ;
 NET "state_led<2>"  LOC = "P12"  ;
# NET "led<7>"  LOC = "P11"  ;

NET "clk"       LOC = "T9"  ;
NET "reset"     LOC = "L14" ;

NET "fdu0<0>"   LOC = "D5"  ;
NET "fdu0<1>"   LOC = "D6"  ;
NET "fdu0<2>"   LOC = "E7"  ;

NET "fdu1<0>"   LOC = "C5"  ;
NET "fdu1<1>"   LOC = "C6"  ;
NET "fdu1<2>"   LOC = "C7"  ;

#NET "error<0>"  LOC = "F12"  ;
#NET "error<1>"  LOC = "G12"  ;

NET "error<0>"  LOC = "F12"  ;
NET "error<1>"  LOC = "G12"  ;

NET "prime<0>"  LOC = "C8"  ;
NET "prime<1>"  LOC = "C9"  ;

NET "por_out<0>"    LOC = "A3"  ;
NET "por_out<1>"    LOC = "A4"  ;

NET "usrs"	    LOC = "A5";

TIMESPEC "TS_clk1" = PERIOD "clk1" 20 ns HIGH 50 %;

NET "an<0>" LOC = "E13";
NET "an<1>" LOC = "F14";//
NET "an<2>" LOC = "G14";
NET "an<3>" LOC = "D14";

NET "ssg<0>" LOC = "E14";//
NET "ssg<1>" LOC = "G13";
NET "ssg<2>" LOC = "N15";
NET "ssg<3>" LOC = "P15";//
NET "ssg<4>" LOC = "R16";//
NET "ssg<5>" LOC = "F13";//
NET "ssg<6>" LOC = "N16";//
